<!-- highlight.js -->
{{ if .Site.Params.highlight | default false }}

    <script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.12.0/highlight.min.js"></script>

    {{ range .Site.Params.highlightLanguages }} <script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.12.0/languages/{{ . }}.min.js"></script> {{ end }}

    <script>hljs.initHighlightingOnLoad();</script>

{{ end }}

<!-- custom -->
    <script src="{{ .Site.BaseURL }}js/jquery-3.0.0.slim.min.js"></script>
    <script src="{{ .Site.BaseURL }}js/theme.min.js"></script>   
     
{{ range .Site.Params.js }} <script src="{{ . }}"></script> {{ end }}


