/* Post Content
/* ---------------------------------------------------------- */

.post-header {
    text-align: center;
    margin-bottom: 1.5em;
    
    & a:hover {
        text-decoration: none;
    }
}
.post-media {
    margin-bottom: 1.5em;
}

