<div class="post-meta">
    {{ $baseUrl := .Site.BaseURL }}  
    {{ range first 1 .Params.tags }}
    <span class="post-tag post-meta__item"><i class="icon-tag"></i> <a class="post-tags__link" href="{{ $baseUrl }}tags/{{ . | urlize }}"> {{ . }}</a></span>
    {{ end }}
    
    <time class="post-published post-meta__item"><i class="icon-calendar"></i> {{ with .Site.Params.dateFormat }}{{ $.Date.Format . }}{{ else }}{{ .Date.Format "02 Jan 2006" }}{{ end }}</time>    
    <span class="post-comment post-meta__item"><i class="icon-comment"></i> <a class="post-comment__link" href="{{ .Permalink }}#disqus_thread">Komentar</a></span> 
</div>  
