<div class="tren-sub-title tren-title__bg">
    <div class="container">
        <h2 class="tren-title--light">Bagaimana Cara Kerja Bisnis PayTren?</h2>
    </div>
</div>
    
<div class="tren-working tren-content tren-content--light-bg">
    <div class="container">
        <h4 class="tren-working__headline">Cara Kerja Bisnis Paytren sangat Sederhana, Ada 2 Cara Yang Bisa Anda Lakukan:</h4>
        <div class="tren-working__content">
            <ol>
                <li>
                    <p>Dengan <b>mengalihkan kebiasaan transaksi pengeluaran rutin</b> anda seperti: beli pulsa, bayar PLN, PDAM, Telkom, dll yang biasanya anda bayar melalui counter, banking, dll ke aplikasi PayTren, karena melalui aplikasi ini banyak keuntungan dan manfaat yang bisa didapatkan.</p>
                    <p>Dan yang paling menarik yaitu, dari setiap transaksi yang anda lakukan, anda akan mendapat cashback (bonus) dari setiap transaksinya. ENAK BANGET KAN...!</p>
                </li>
                <li>
                    <p>Dengan <b>menjalankan bisnisnya</b> melalui program "CRP" ( CUSTOMER REFERRAL PROGRAM ). Jika Anda menjalankan program CRP ini, anda mempunyai potensi untuk memiliki tambahan penghasilan yang bisa anda tentukan sendiri besarnya. Artinya, ketika anda Rajin dan Bekerja Keras, maka hasil yang akan anda dapatkan pun akan sebanding dengan kerja keras anda.</p>
                    <p>Program CRP inilah yang dijalankan oleh para <b>Mitra Bisnis PayTren</b> untuk mendapatkan <b>penghasilan jutaan rupiah</b> dari bisnis <span class="treni-color">PayTren</span>.</p>
                    <p>Jika anda mengikuti program CRP ini, tugas utama anda sebagai Mitra Bisnis PayTren yaitu  menjual lisensi aplikasi PayTren ( aplikasi bayar-bayar berbasis OS Android dan iPhone ) ke pengguna smartphone dimanapun berada dengan harga lisensi yang sudah ditentukan oleh perusahaan PayTren ( paket lisensi basic seharga Rp. 350.000 ). Kemudian keuntungan Mitra Bisnis PayTren itu didapat dari komisi penjualan per lisensi sebesar Rp. 75.000,- yang diberikan oleh perusahaan PayTren.</p>
                </li>
            </ol>
        </div>
    </div>
</div>